ErrorDocument 404 /404.html

Options +FollowSymLinks

RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule !^content(/.*)?$ /content%{REQUEST_URI} [QSA,L]