html {
    background: #111 url(/assets/i/thunder-right.svg) no-repeat right top;

    @include respond-to(narrow) {
        background-size: 70px auto;
    }
}

body {
    font: 14px/1.5 $font-serif;
    color: #ddd;
    padding-left: 5%;
    padding-right: 5%;
    background: url(/assets/i/thunder-left.svg) no-repeat;

    @include respond-to(narrow) {
        background-size: 70px auto;
    }
}

a {
    text-decoration: none;
}

p {
    margin: 0 0 15px;
}

i {
    font-style: italic;
}