%fence {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    margin-bottom: 50px;
    @extend %fence;
}

.media {
    @include pie-clearfix;
    margin-bottom: 30px;

    img {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .data {
        overflow: hidden;
        @include respond-to(narrow) {
            overflow: visible;
        }
    }
}